doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bike Rental

        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")

        script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
        script(src="js/translate.js") 
        script(src="js/geolocation.js" defer)

        script.
            const BIKE_LOCATIONS = !{JSON.stringify(bike_locations)};
            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((user_position) => {
                    for (var bike_id in BIKE_LOCATIONS) {
                        var distance_text = document.querySelector('.distance > #dt' + bike_id);

                        var bike_location = BIKE_LOCATIONS[bike_id];

                        var b_lat = bike_location.latitude;
                        var b_lon = bike_location.longitude;

                        var u_lat = user_position.coords.latitude;
                        var u_lon = user_position.coords.longitude;

                        var distance = getDistance(b_lat, b_lon, u_lat, u_lon);

                        distance_text.textContent = distance + ' km';
                    }
                });
            }
 
    body
        #google_translate_element

        main
            #contact-banner
                ul
                    li
                        button#translate-button(type="button" onclick="translatePage();" class="notranslate")
                            i(class="fas fa-exchange-alt")
                            | Español / English
                
                ul
                    li
                        a.notranslate(href="mailto:" + contact_details.email)
                            i(class="far fa-envelope")
                            =contact_details.email

                    li
                        a.notranslate(href="tel:" + contact_details.phone)
                            i(class="fas fa-mobile-alt")
                            =contact_details.phone

            .dark-overlay
                nav
                    ul
                        li
                            a(href="/")#home
                                i(class="fad fa-biking")
                        li
                            a(href="/") See Bikes
                    
                    ul
                        if (user_details.logged_in)
                            li
                                a(href="/")= user_details.first_name
                            li
                                a(href="/logout") Logout
                        else
                            li
                                a(href="/login") Login
                            li
                                a#register(href="/register") Register
                
                #page-heading
                    h2= page_title
                    hr

                #page-container
                    #bikes
                        each bike in bikes
                            .bike-container
                                .bike
                                    .img-container
                                        img(src=bike.bike_image, alt="")

                                    .info-container
                                        .top-info
                                            .tags-container
                                                .distance
                                                    i.distance-icon(class="fas fa-map-marker-alt")
                                                    | &nbsp;

                                                    //- To be changed by JavaScript
                                                    span(id="dt" + bike.bike_id)
                                                        | ? km
                                                    
                                                .price
                                                    i.price-icon(class="fas fa-coins")
                                                    | &nbsp;
                                                    =bike.price
                                                    | &nbsp;S/hour

                                            h2.notranslate= bike.brand

                                        .reviews
                                            - for (var i = 1; i <= 5; ++i) {
                                                if bike.rating >= i
                                                    i(class="fa fa-star checked")
                                                else
                                                    i(class="fa fa-star")
                                            - }

                                            span.rating-text
                                                | &nbsp;
                                                =bike.rating
                                                | /5
                                            
                                            .rating-count-text
                                                =bike.rating_count
                                                | &nbsp;
                                                a(href="/bikes?id=" + bike.bike_id + "#reviews")
                                                    | reviews
                                        
                                        a.view-bike(href="/bikes?id=" + bike.bike_id) View bike
                                    
                                    .clr
